<%- include("partials/header.ejs"); -%>
    <h1>Home</h1>
    <p><%= homeStartingContent %></p>
    <% posts.forEach(function(post){ %>
        <% var body=post.content.substring(0,157) + "...."; %>
        <% link="/posts/"+post.title; %>
        <h1> <%= post.title %> </h1>
        <p> <%= body %> 
        <a href="/posts/<%= post._id %>" >Read More</a>
        </p>
    <% }); %>
<%- include("partials/footer.ejs"); -%>
